{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{page.title}}{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
          <h2 class="section-heading mb-4">{{page.title}}</h2>
          <div>
            {{page.content|safe}}
            {% if request.user.is_staff %}
              <p><a href="{% url 'pages:update' page.id %}">Editar empleo</a></p>
            {% endif %}
            <br>
            <label>¿Te ha interesado este empleo? Adjunta tu currículum.</label>
            <input type="file" name="cv" class="form-control-file mt-3" id="cv">
            <br>
            <input type="submit" class="btn btn-info btn-block" data-toggle="modal" data-target="#modal1" value="Adjuntar currículum" />

            
              <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Currículum enviado</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ¡Tu currículum se ha enviado exitosamente!
                    </div>
                    <div class="modal-footer">
                      <button  type="button" class="btn btn-info" data-dismiss="modal">Entendido</button>
                    </div>
                  </div>
                </div>
</div>
           

        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
